<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mystery Word</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="styles.css">
   <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

</head>

<body>
  <img src="../images/tree.png" style="position: fixed; top: 0px; right: 0px; height: 100vh; z-index: -2;"/>
  <h1 class="title">Mystery! Word</h1>
  <h1>Game Over!</h1>
  <h2>The mystery word was:</h2>
  <h2>{{word}}</h2>
<h1>Play Again?</h1>
<form action="/" method="post">
  <input type="submit" name="playagain" value="New Game" class="submit" autofocus></input>
  <input type="text" name="letter" value="" hidden />
  <img src="../images/headstone.png" style="position: fixed; bottom: 0px; left: 10vw; height: 30vh; z-index: -2;"/>
  <img src="../images/longfence.png" style="position: fixed; bottom: 0px; height: 17vh; width: 100vw; z-index: -1;"/>
  <img src="../images/rip.png" style="position: fixed; bottom: 0px; left: 0px; height: 40vh; z-index: -3;"/>
</form>
</body>

</html>
