<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mystery Word</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="styles.css">
   <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">

</head>

<body>
  <h1>Mystery Word</h1>
  <h1>Game Over!</h1>
  <h2>The mystery word was:</h2>
  <h2>{{word}}</h2>
<h1>Play Again?</h1>
<form action="/" method="post">
  <input type="submit" name="playagain" value="New Game" class="submit" autofocus></input>
  <input type="text" name="letter" value="" hidden />
</form>
</body>

</html>
