 <!DOCTYPE html>
 <html lang="en">

<head>
     <meta charset="UTF-8">
     <title>Word Game</title>
     <meta name="description" content="DESCRIPTION">
    <link rel="stylesheet" href="PATH">
 </head>

 <body>
   <h3>This is views/index.mustache</h3>
   <h1>Word Game</h1>
   <h2>The mystery word is: {{word}}</h2>
   <h2>It is {{word_length}} characters long.</h2>
   <h2></h2>
   <form action="/" method="post">
     <label for="letter">Type a letter</label>
     <input type="text" name="letter" maxlength="1"/>
     <input type="submit" name="submit" />
   </form>

 </body>

 </html>
