<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Mystery Word</title>
    <meta name="description" content="DESCRIPTION">
   <link rel="stylesheet" href="styles.css">
</head>

<body>
  <!-- <h3>This is views/index.mustache</h3> -->
  <h1>Mystery Word</h1>
  <h2>The mystery word is: {{word}}</h2>
  <!-- <h2>It is {{word_length}} characters long.</h2>
  <h2>Here are the letters: {{word_letters}}.</h2> -->
  <!-- <h2>You have guessed: {{guessed_letters}}</h2>
  <h2>You have {{remaining_guesses}} guesses remaining.</h2>
  <h1>{{unguessed_letters}}</h1> -->
<h1>You Won!</h1>
<h1>Play Again?</h1>
<form action="/" method="post">
  <input type="submit" name="playagain" autofocus>Play Again</input>
  <input type="text" name="letter" value="" hidden />
</form>
  <!-- <form action="/" method="post">
    <label for="letter">Type a letter</label>
    <input type="text" name="letter" maxlength="1" autofocus/>
    <input type="submit" name="submit" />
  </form> -->

</body>

</html>
